  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    canvas {
      display: block;
    }
    .rodape{
    font-size: larger;
    color: greenyellow;
}
.titulo{
    color: greenyellow;
} 
